body {
  margin: 30px auto;
  padding: 30px 60px 30px 60px;
  max-width: 900px;
  border: 1px solid #feffff;
  box-shadow: 2px 5px 5px rgb(0, 0, 0, 0.2);
}
h1 {
  padding-top: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
}
ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
hr {
  border: 1px solid black;
}
h6 {
  font-weight: 400;
  font-size: 16px;
}
div.date-time {
  font-size: 22px;
}
span.condition {
  top: 171px;
  right: 590px;
  font-size: 23px;
}

div.form {
  top: 55px;
}
div.button {
  top: 86px;
}
span.condition,
div.form,
div.button {
  position: absolute;
}
div.form,
div.button {
  right: 565px;
}

div.row {
  text-align: center;
}
div.card {
  left: 67px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 30px;
  line-height: 1;
  font-weight: 400;
}
#currentLocation {
  position: relative;
  left: 600px;
  border-radius: none;
  border: none;
  background: none;
  text-decoration: underline;
}
#currentLocation:hover {
  color: #007bff;
}
